## Importamos librerias

In [7]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [8]:
vinos=pd.read_csv("winemag-data_first150k.csv", index_col=0)
vinos.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [9]:
vinos=pd.read_csv("winemag-data_first150k.csv",encoding='utf8')

Visualizamos la tabla del archivo que abrimos.

## Aplicando metodos de analisis inicial para descripcion

In [10]:
vinos1=vinos.rename(columns={'country':'País','description':'Descripción','designation':'Designación','points':'Puntos','price':'Precio','province':'Provincia','region_1':'Region_1','region_2':'Region_2','variety':'Tipo',})

In [11]:
vinos1.head()

,Unnamed: 0,País,Descripción,Designación,Puntos,Precio,Provincia,Region_1,Region_2,Tipo,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

Renombramos las columnas para mejor entendimiento.

In [12]:
vinos1.columns

Index(['Unnamed: 0', 'País', 'Descripción', 'Designación', 'Puntos', 'Precio',
       'Provincia', 'Region_1', 'Region_2', 'Tipo', 'winery'],
      dtype='object')

 Visualizamos las columnas que tiene nuestra base

In [13]:
vinos2=vinos1.drop(['Descripción','Provincia','Region_1','Region_2','winery', 'Designación','Unnamed: 0','Puntos'], axis=1)

In [14]:
vinos2.head()

     País  Precio                Tipo
0      US   235.0  Cabernet Sauvignon
1   Spain   110.0       Tinta de Toro
2      US    90.0     Sauvignon Blanc
3      US    65.0          Pinot Noir
4  France    66.0  Provence red blend

Quitamos las columnas de las que no nos interesa obtener informacion, en este caso queremos hacer un analisis del país, con el precio y el tipo de vino que más consumen.

In [15]:
vinos2.País.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

Visualizamos los datos que no se repiten en nuestra columna País.

## Descripción estadistica basica

In [16]:
pais_1=vinos2[vinos2['País']=='US']
pais_1.to_csv('Solo_US.csv',index=False)

Los datos obtenidos

In [17]:
pais_1.describe

<bound method NDFrame.describe of        País  Precio                Tipo
0        US   235.0  Cabernet Sauvignon
2        US    90.0     Sauvignon Blanc
3        US    65.0          Pinot Noir
8        US    65.0          Pinot Noir
9        US    60.0          Pinot Noir
...     ...     ...                 ...
150892   US    10.0              Merlot
150896   US    10.0          Pinot Noir
150914   US    25.0      White Riesling
150915   US    30.0         White Blend
150916   US    65.0     Champagne Blend

[62397 rows x 3 columns]>

In [18]:
p1=pd.read_csv("Solo_US.csv", index_col=0)
p1.head()

      Precio                Tipo
País
US     235.0  Cabernet Sauvignon
US      90.0     Sauvignon Blanc
US      65.0          Pinot Noir
US      65.0          Pinot Noir
US      60.0          Pinot Noir

Analizamos los precios y los tipos de vinos que hay en US.

In [19]:
pais_2=vinos2[vinos2['País']=='Spain']
pais_2.to_csv('Solo_Spain.csv', index=False)

In [20]:
pais_2.describe

<bound method NDFrame.describe of          País  Precio               Tipo
1       Spain   110.0      Tinta de Toro
5       Spain    73.0      Tinta de Toro
6       Spain    65.0      Tinta de Toro
7       Spain   110.0      Tinta de Toro
17      Spain    80.0        Tempranillo
...       ...     ...                ...
149601  Spain    15.0  Tempranillo Blend
149819  Spain     7.0              Viura
149858  Spain    12.0        Tempranillo
149936  Spain     7.0        Tempranillo
149993  Spain    12.0               Rosé

[8268 rows x 3 columns]>

In [21]:
p2=pd.read_csv("Solo_Spain.csv", index_col=0)
p2.head()

       Precio           Tipo
País
Spain   110.0  Tinta de Toro
Spain    73.0  Tinta de Toro
Spain    65.0  Tinta de Toro
Spain   110.0  Tinta de Toro
Spain    80.0    Tempranillo

Solo tomamos los datos de US y Spain, que son los que queremos analizar.

Nuestro propósito es comparar el precio de los tipos de vinos consumidos en US y Spain.

In [23]:
p1['Precio'].mean()

33.65380839730282

In [ ]:
Encontramos el promedio de precios de l

In [24]:
p2['Precio'].mean()

27.048529411764704